
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
  }

@font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    src: local('Heebo'), local('Heebo-Regular'), url(https://fonts.gstatic.com/s/heebo/v3/Q66imbW5v9YuQMRLd0RXOA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

body {
    min-width: 970px;
    background-color: #FFF;
    margin: 0 auto;
}

header {
    max-width: 100%;
    min-width: 970px;
    height: auto;
    display: grid;
    background-color: #e4e5eb;
    grid-template-areas: "nav nav" "left right";
    grid-template-rows: 80px auto;
    grid-template-columns: 2fr 1fr;
    justify-content: stretch;
    justify-items: stretch;
    align-items: end;
}

nav{
    grid-area: nav;
    align-self: center;
    margin-left: 80px;
}

nav a{
    color: #9c9da2;
    margin-right: 14px;
    text-decoration: none;
}

nav a:hover{
    color: #000000;
}

left{
    grid-area: left;
}

right{
    grid-area: right;
}

#picture{
    max-width: 100%;
    height: auto;
    width: auto\9;
}

left p{
    
}

#greetings{
    font-family: 'Heebo';
    font-size: 24px;
    margin: 100px 0 auto;
    text-align: left;
    padding-left: 80px;
}

#name{
    font-family: 'Montserrat';
    font-size: 62px;
    font-weight: bold;
    margin :0 auto;
    text-align: left;
    padding-left: 80px;
}

#tagline{
    font-family: 'Heebo';
    font-size: 28px;
    margin :0 auto;
    text-align: left;
    padding-left: 80px;
}

.media{
    margin-top: 14px;
    padding-bottom: 60px;
    padding-left: 80px;
    
}

.media a{
    text-decoration: none;
    display: inline-block;
}

.github {
    width: 34px;
    height: 34px;
    background: url("assets/github-logo.png");
    background-size: 34px 34px;
    margin-right: 10px;
}

.github:hover {
    width: 34px;
    height: 34px;
    background: url("assets/github-logo-hover.png");
    background-size: 34px 34px;
}

.linkedin {
    width: 34px;
    height: 34px;
    background: url("assets/linkedin-logo.png");
    background-size: 34px 34px;
    margin-right: 10px;
}

.linkedin:hover {
    width: 34px;
    height: 34px;
    background: url("assets/linkedin-logo-hover.png");
    background-size: 34px 34px;
}
.facebook {
    width: 34px;
    height: 34px;
    background: url("assets/facebook-logo.png");
    background-size: 34px 34px;
    margin-right: 10px;
}
.facebook:hover {
    width: 34px;
    height: 34px;
    background: url("assets/facebook-logo-hover.png");
    background-size: contain;
}

.gplus {
    width: 34px;
    height: 34px;
    background: url("assets/gplus-logo.png");
    background-size: 34px 34px;
    margin-right: 10px;
}
.gplus:hover {
    width: 34px;
    height: 34px;
    background: url("assets/gplus-logo-hover.png");
    background-size: contain;
}

.container-profile {
    max-width: 100%;
    min-width: 970px;
    height: 100%;
    min-height: 640px;
    display: grid;
    /* grid-template-areas: "profile-title profile-title" "details about"; */
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: repeat(9, 1fr);
    justify-content: space-evenly;
    align-content: center;
}

.byline{
    font-family: 'Montserrat';
    font-size: 36px;
    font-weight: lighter;
    border-top: 2px solid #e4e5eb;
    border-bottom: 2px solid #e4e5eb;
    text-transform: uppercase;
    text-align: center;
}

.container-profile .byline {
    /* grid-area: profile-title; */
    grid-row: 1 / 2;
    grid-column: 4 / span 3;
    align-self: end;
    height: auto;
  }

.byline p{
    display: inline;
}

.details{
    grid-row: 2 / span 5;
    grid-column: 2 / span 3;
    background-color: #e4e5eb;
    /* margin-top: 80px; */
    /* padding: 0 10px 10px 30px; */
    text-align: left;
    align-self: center;
    
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.4);
}

.details-title{
    font-family: 'Montserrat';
    font-size: 28px;
    font-weight: lighter;
    color: #747474;
}

.details p{
    margin-left: 30px;
}

.about{
    /* grid-area: about; */
    grid-row: 2 / span 5;
    grid-column: 6 / span 3;
    /* margin-top: 80px;
    padding: 0 10px 10px 10px; */
    text-align: left;
    align-self: center;
}

.about-title{
    font-family: 'Montserrat';
    font-size: 28px;
    font-weight: lighter;
}

.about-body{
    text-align: justify;
}

.heboo-font{
    font-family: 'Heebo';
}

.container-project{
    width: 100%;
    height: 100%;
    background-color: #e4e5eb;
    height: 100%;
    min-height: 640px;
    display: grid;
    /* grid-template-areas: "profile-title profile-title" "details about"; */
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: repeat(9, 1fr);
    justify-content: space-evenly;
    align-content: center;
}

.container-project .byline{
    padding: 0 24px;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    grid-row: 1 / 2;
    grid-column: 4 / span 3;
    align-self: end;
    height: auto;
}

.container-contact{
    width: 100%;
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    clear: both;
    background-color: #434242;
    margin:0 auto;
    text-align: center;
}

.contact-title{
    font-family: 'Montserrat';
    font-size: 36px;
    font-weight: lighter;
    color: white;
    text-align: center;
}

.container-contact p{
    font-family: 'Heebo';
    font-weight: lighter;
    text-align: center;
    color: rgb(219, 219, 219);
}

.container-form{
    margin-top: 24px;
    line-height: 20px;
}

.container-form form{
    padding-left: 25%;
    padding-right: 25%;
}

label{
    float: left;
    font-family: 'Heebo';
    color: rgb(219, 219, 219);
    display: block;
}

input{
    width: 100%;
    float: left;
    display: block;
    font-family: 'Heebo';
    border: none;
    border-radius: 4px;
    height: 28px;
    padding-left: 10px;
}

textarea{
    width: 100%;
    height: 120px;
    display: block;
    border: none;
    border-radius: 4px;
    font-family: 'Heebo';
    padding-left: 10px;
    resize: vertical;
}

button {
    width: 100%;
    background-color: #6facf1;
    color: #FFF;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    font-family: 'Heebo';
}

button:hover {
    background-color: #e4e5eb;
    color: #434242;
}

.container-social-media a{
    text-decoration: none;
    display: inline-block;
}