
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
  }

@font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    src: local('Heebo'), local('Heebo-Regular'), url(https://fonts.gstatic.com/s/heebo/v3/Q66imbW5v9YuQMRLd0RXOA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

body {
    background-color: #FFF;
    margin: 0 auto;
}

nav{
    padding-left: 100px;
    padding-top: 30px;
}

nav a{
    color: #9c9da2;
    margin-right: 14px;
    text-decoration: none;
}

nav a:hover{
    color: #000000;
}
    
.header{
    overflow: auto;
    width: 100%;
    height: auto;
    background-color: #e4e5eb;
}

.left{
    width: 50%;
    padding: 100px 0 0 100px;
    float: left;
}

.right{
    width: 40%;
    float: right;
}

.media{
    margin-top: 14px;
    display: block;
}

.media a{
    text-decoration: none;
}

.github {
    width: 34px;
    height: 34px;
    background: url("assets/github-logo.png");
    display: inline-block;
    background-size: 34px 34px;
    margin-right: 10px;
}

.github:hover {
    width: 34px;
    height: 34px;
    background: url("assets/github-logo-hover.png");
    background-size: 34px 34px;
}

.linkedin {
    width: 34px;
    height: 34px;
    background: url("assets/linkedin-logo.png");
    display: inline-block;
    background-size: 34px 34px;
    margin-right: 10px;
}

.linkedin:hover {
    width: 34px;
    height: 34px;
    background: url("assets/linkedin-logo-hover.png");
    background-size: 34px 34px;
}
.facebook {
    width: 34px;
    height: 34px;
    background: url("assets/facebook-logo.png");
    display: inline-block;
    background-size: 34px 34px;
    margin-right: 10px;
}
.facebook:hover {
    width: 34px;
    height: 34px;
    background: url("assets/facebook-logo-hover.png");
    background-size: contain;
}

.gplus {
    width: 34px;
    height: 34px;
    background: url("assets/gplus-logo.png");
    display: inline-block;
    background-size: 34px 34px;
    margin-right: 10px;
}
.gplus:hover {
    width: 34px;
    height: 34px;
    background: url("assets/gplus-logo-hover.png");
    background-size: contain;
}

#greetings{
    font-family: 'Heebo';
    font-size: 24px;
    margin :0 auto;
    text-align: left;
}

#name{
    font-family: 'Montserrat';
    font-size: 62px;
    font-weight: bold;
    margin :0 auto;
    text-align: left;
}

#tagline{
    font-family: 'Heebo';
    font-size: 28px;
    margin :0 auto;
    text-align: left;
}

#picture{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    display: block;
}

.content{
    display: inline-block;
    overflow: auto;
    background-color: #FFF;
    text-align: center;
    overflow:hidden;
}

.byline {
    font-family: 'Montserrat';
    font-size: 36px;
    font-weight: lighter;
    border-top: 2px solid #e4e5eb;
    border-bottom: 2px solid #e4e5eb;
    padding: 0 24px;
    text-transform: uppercase;
  }

 .projects .byline{
    border-top: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
  }

.profiles{
    width: 100%;
    height: 100%;
    padding-top: 60px;
    margin:0 auto;
}

.details{
    background-color: #e4e5eb;
    width: 20%;
    float: left;
    margin-top: 80px;
    padding: 0 10px 10px 30px;
    text-align: left;
    margin-left: 200px;
}

.details-title{
    font-family: 'Montserrat';
    font-size: 28px;
    font-weight: lighter;
    color: #747474;
}


.bold{
    font-weight: bold;
}

.margin{
    margin: 0 auto;
    margin-top: 5px;
}

.about{
    width: 40%;
    float: right;
    margin-top: 80px;
    padding: 0 10px 10px 10px;
    text-align: left;
    margin-right: 200px;
}

.about-title{
    font-family: 'Montserrat';
    font-size: 28px;
    font-weight: lighter;
}

.about-body{
    text-align: justify;
}

.heboo-font{
    font-family: 'Heebo';
}

.projects{
    width: 100%;
    height: 100%;
    padding-top: 60px;
    clear:both;
    background-color: #e4e5eb;
}

.contacts{
    width: 100%;
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    clear: both;
    background-color: #434242;
    margin:0 auto;
}

.contact-title{
    font-family: 'Montserrat';
    font-size: 36px;
    font-weight: lighter;
    color: white;
}

.contacts p{
    font-family: 'Heebo';
    font-weight: lighter;
    color: rgb(219, 219, 219);
}

.form-area{
    margin-top: 24px;
    line-height: 20px;
}

.form-area form{
    padding-left: 25%;
    padding-right: 25%;
}

label{
    float: left;
    font-family: 'Heebo';
    color: rgb(219, 219, 219);
    display: block;
}

input{
    width: 100%;
    float: left;
    display: block;
    font-family: 'Heebo';
    border: none;
    border-radius: 4px;
    height: 28px;
    padding-left: 10px;
}

textarea{
    width: 100%;
    height: 120px;
    display: block;
    border: none;
    border-radius: 4px;
    font-family: 'Heebo';
    padding-left: 10px;
    resize: vertical;
}

button {
    width: 100%;
    background-color: #6facf1;
    color: #FFF;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    font-family: 'Heebo';
}

button:hover {
    background-color: #e4e5eb;
    color: #434242;
}



/* .footer{
    width: 100%;
    height: 480px;
    background-color: #000;
    clear:both;
} */


